body.section .navbar-default, body.single .navbar-default, body.author .navbar-default {
    background-color: #222;
}

body.knowledge-base >  header {
    background-image: url(../img/kb-header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
}

body.knowledge-base > header .intro-lead-in {
    padding-top: 200px;
    padding-bottom: 50px;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;

    text-shadow: 2px 2px 5px black;
}

body.knowledge-base header .kb-search-bar {
    border-radius: 1000px;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    padding: 5px 16px;
    color: black;
    font-family: sans-serif;
    min-width: 65%;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card .card-title {
    text-align: center;
}

.card .card-title i.fa {
    color: #fed136;
    margin: 15px 0 5px 0;
    font-size: 36px;
}

.card-deck .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

.card-deck .card h5 {
    text-align: center;
}

.card-deck .card-md-3 {
    width: 100%;
}

.kb-topic-list {
    list-style: none;
    padding: 0px 15px 5px 15px;
    margin: 0;
}

.kb-topic-list li {
    margin-bottom: 10px;
}

.kb-topic-list a {
    color: #333;
}

@media (min-width: 900px) {
    section.kb-topics {
        width: 900px;
        margin: 0 auto;
        padding: 10px;
    }

    .card-deck .card-md-3 {
        max-width: 33%;
        width: 33%;
        min-width: 200px;
    }
}

body.single article {
    background-color: white;
    box-sizing: border-box;
    padding: 1px 15px;
}

body.single article.no-logo, body.author figure {
    margin-top: 150px;
}

body.author figure {
    margin-left: 10px;
    margin-right: 10px;
}

body.author figure img {
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px #555;

    margin-right: 20px;
}

body.author figure figcaption {
    padding-top: 5px;
}

@media (min-width: 900px) {
    body.single article, body.author figure {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}

main h1 {
    font-size: 20pt;
}

main h2 {
    font-size: 16pt;
}

main h3 {
    font-size: 14pt;
    text-transform: none;
}

main h4 {
    font-size: 14pt;
    color: #888;
    text-transform: none;
}

main h5 {
    font-size: 12pt;
    color: #888;
    text-transform: none;
    font-style: italic;
}

main h6 {
    font-size: 12pt;
    color: #888;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
}

.author-list {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.author-list li {
    display: inline;
}

.author-list li:first-child:before {
    content: "";
}

.author-list li:before {
    content: ", ";
}

body.knowledge-base aside {
    position: fixed;
    top: 150px;

    padding: 5px;
    left: calc(50vw - 450px - 200px - 20px);

    width: 200px;

    border: 1px solid #888;
    box-sizing: border-box;
    display: none;
}

@media (min-width: 1340px) {
    body.knowledge-base aside {
        display: block;
    }
}

body.knowledge-base nav#TableOfContents ul {
    list-style: none;
    padding: 0px 0px 0px 15px;
}

body.knowledge-base nav#TableOfContents ul li {
    margin: 0 0 10px 0;
}

body.knowledge-base .kb-header-hero {
    margin-top: 50px;
    width: 100%;
    min-height: 400px;
    max-height: 400px;

    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
    background-position: center 100%;
}

@media (min-width: 768px) {
    body.knowledge-base .kb-header-hero {
        margin-top: 100px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
}

section#frontposts {
    padding: 0 !important;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

section#frontposts .post-box {
    padding: 10px 50px;
    min-width: 300px;
}

section#frontposts .post-box:not(.blog-link) a {
    color: inherit;
}

section#frontposts .post-box .summary {
    color: white;
    font-family: sans-serif;
    font-size: 12pt;
}

section#frontposts .post-box h3 {
    text-transform: uppercase;
    color: white;
    height: 2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

section#frontposts .post-box.post-box--invert .summary {
    color: black;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);
}

section#frontposts .post-box.post-box--invert h3 {
    color: black;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);
}

section#frontposts .post-box .summary {
    margin-bottom: 15px;
}

section#frontposts .post-box:nth-child(1) {
    background: darkblue;
}

section#frontposts .post-box:nth-child(2) {
    background: darkgreen;
}

section#frontposts .post-box:nth-child(3) {
    background: darkred;
}

section#frontposts .post-box.blog-link {
    background: white;
    color: black;
    text-transform: uppercase;
    text-align: left;
    font-size: 30pt;
    font-style: sans-serif;
}

section#frontposts .post-box.blog-link:before {
    float: right;
    font-size: 70px;
    font-family: "FontAwesome";
    content: "\f054";
    color: #fed136;
}

.index header {
    margin-top: 0 !important;
}

.teaser-image {
    height: 200px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


.single header.header-with-background div.banner {
    height: 300px;
    background-size: cover;
}

.single header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.single.main-blog header {
    margin-top: 100px;
    margin-bottom: 20px;
}

.single header.header-with-background h1 {
    margin: -25px auto 0px auto;
    width: 800px;
}

.single header.header-with-background h1 span {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

.section.main-blog header {
    margin-top: 120px;
}

.section.main-blog .thumbnail {
    height: 400px;
}

.section.main-blog .caption h3 a {
    color: black;
}

.section.main-blog .caption p {
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.single.main-blog main p {
    font-size: 12pt;

    text-align: justify;
}

.single.main-blog summary {
    font-size: 14pt;
    color: darkgrey;
    font-style: italic;

    margin: 5px 0 15px 0;
}
