<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ partial "head.html" . }}
  <body class="section main-blog">
    {{ partial "nav.html" . }}
    <header>
      <h1>Blog</h1>
    </header>

    <main>
      {{ .Content }}
      <div class="container">
        <div class="posts-list row">
          {{ range .Paginator.Pages }}
          {{ $teaseImage := .Resources.GetMatch "teaser*" }}
          <div class="thumbnail col-md-4">
            <div {{if $teaseImage}}style="background-image: url({{ $teaseImage.Permalink }})"{{end}} class="teaser-image" alt="{{ .Title }}">
            </div>
            <div class="caption">
              <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
              <p>
                {{ .Summary }}
              </p>
              <a href="{{ .Permalink }}">Read more</a>
            </div>
          </div>
          {{ end }}
        </div>

        {{ template "_internal/pagination.html" . }}
      </div>

    </main>

    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}
  </body>
</html>

